.indcry{
    background-color: blueviolet;
    width: 23vw;
    height: 20vh;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.bitcoin{
    margin-top: 5vh;
    margin-left: 2vw;
}
.indcry img{
    height: 15vh;
    margin-top: 3vh;
    margin-right: 2vw;
}
@media (max-width:425px){
    .indcry{
        width: 99vw;
    }
}