nav{
    background-color: var(--purple);
    display: flex;
    width: 94vw;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    line-height: 50px;
    color: white;
    border-bottom: none;
}
.instant{
    color: white;
}
.instant:hover{
    background-color: white;
    padding: 10px 20px;
    color: var(--purple);
}
.instant:focus{
    background-color: white;
    padding: 10px 20px;
    color: var(--purple);
}
.navy{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    
}
.navymobile{
    display: none;
}
.getstarted, .login{
    background-color: white;
    width: 10vw;
    height: 6vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 2px;
}
.getstarted{
    color: white;
    border: none;
    background-color: var(--purple);
    border: 1px solid white;
}
.getstarted:hover{
    background-color: white;
    color: var(--purple);
}
.getstarted:focus{
    background-color: white;
    color: var(--purple);
}
.login{
    color: white;
    background-color: var(--purple);
    border: 1px solid white;
}
.login:hover{
    background-color: white;
    color: var(--purple);
}
.login:focus{
    background-color: white;
    color: var(--purple);
}
.dashboard{
    color: white;
}
@media (max-width:425px)  { 
    .navy{
        display: none;
    }
    .navymobile{
        display: block;
        margin-top: 10px;
        font-size: 30px;
    }
    .mobile{
        background-color: white;
        position: absolute;
        left: 0vh;
        width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: column !important;
        font-size: 15px;
        z-index: 2;
    }
    #mob{
        display: none;
    }
    .ml{
        position:relative;
        left:30px;
    }
 }
@media (max-width:375px){
    
}