.cointobuy{
    width: 23vw;
    height: 5vh;
    border: none;
    margin-top: 3vh;
}

@media (max-width:425px)  { 
    .cointobuy{
        width: 60vw;
    }
    .amount{
        width: 50vw !important;
    }
 }